<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock, paper, scissors!</title>
  </head>
  <body>
    <nav>
      <ol>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/play'>Play</a></li>
      </ol>
    </nav>
    <%= yield %>
  </body>
</html>
